<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD5DlqJw8oP11LPIdeSUgufh_NM4Dd9VXw</string>
	<key>GCM_SENDER_ID</key>
	<string>931212945702</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kz.chatra.app</string>
	<key>PROJECT_ID</key>
	<string>chatra-bd72f</string>
	<key>STORAGE_BUCKET</key>
	<string>chatra-bd72f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:931212945702:ios:41678e56fe0173428ab9e7</string>
</dict>
</plist>
